@font-face {
    font-family: CustomFont2;
    src: url('../fonts/crilleei.ttf');
}

@font-face {
    font-family: CustomFont3;
    src: url('../fonts/FagoExTf-BoldCaps.ttf');

}
@font-face {
    font-family: CustomFont4;
    src: url('../fonts/FagoExTf.ttf');
}
@font-face {
    font-family: CustomFont5;
    src: url('../fonts/FagoExTf-Black.ttf');

}


