<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



RewriteRule ^contact.html$ contact.php [QSA,L]
RewriteRule ^order-page.html$ order-page.php [QSA,L]


</IfModule>
